################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
bin
obj
packages


#################################
# git rm -r --cached .
# git add .
# git commit -am "Remove ignored files"
##################################